h1 {
    color: #f1da63;
    font-size: 100px;
}

h3 {
    color: #f1da63;
    font-size: 80px;
}

p {
    color: whitesmoke;
}

.parrafoD {
    font-size: 19px;
}

.parrafoB {
    font-size: 30px;
}

.yellow {
    color: #f1da63;
}
