.imgP{
    filter: grayscale(100%);
}
  
.imgP:hover{
    filter: grayscale(0%);
}

.imgPG{
    filter: grayscale(0%);
}
  
.imgPG:hover{
    filter: grayscale(100%);
}

.imgC{
    transition: all .3s;
  }
  
.imgC:hover{
    width: 150px;
    transform: translate(0px, -10px);
}

.imgCW{
    transition: all .3s;
  }
  
.imgCW:hover{
    width: 120px;
    transform: translate(0px, -10px);
}